---
import { SITE } from '@/consts'
import HeaderLink from '@/components/HeaderLink.astro'

---
<header class="fixed top-0 w-full bg-skin-fill text-skin-base z-10">
  <div class="container mx-auto max-w-4xl px-4 md:px-0 flex items-center justify-between">
    <a class="text-2xl p-4" href="/">{SITE.title}</a>
    <div class="flex items-center">
      <div class="hidden xl:block">
        <div class="flex items-center space-x-5 pr-4">
          <HeaderLink href={"/home"} icon={'ri-draft-line'} target='_self' children={[]}>首页</HeaderLink>
          <HeaderLink href={"/home"} icon={'category.iconClass'} target='_self' children={[]}>文章</HeaderLink>
          <HeaderLink href={"/home"} icon={'category.iconClass'} target='_self' children={[]}>标签</HeaderLink>
          <HeaderLink href={"/home"} icon={'category.iconClass'} target='_self' children={[]}>存档</HeaderLink>
        </div>
      </div>
    </div>
  </div>

  <div id="personal-info" class="hidden break-all overflow-y-auto pb-8" style="height: calc(100vh - 64px)">
    <img class="avatar my-4 mx-auto" src={SITE.title} alt="avatar"/>
    <div class="mb-2 text-center">{SITE.motto}</div>
    <div class="flex items-center justify-center flex-wrap">
      <a title={'infoItem.name'} href={'infoItem.name'} target="_blank">
        <i class={'infoItem.icon' + " text-2xl mr-2 cursor-pointer"}/>
      </a>
    </div>
    <div class="divider-horizontal-mini"></div>
    <div class="text-center">
      <div>
        <i class="ri-folder-line menu-icon"/>{'categories'}
      </div>

      <div class="my-2 break-all truncate">
        <a class="hover:text-skin-active" title={'category' + " (" + 2 + ")"} href={"/category/" + 'category'}>
          {'category' + " (" + 10 + ")"}
        </a>
      </div>

      <div class="divider-horizontal-mini"></div>
      <div class="text-center">
        <i class="ri-price-tag-3-line menu-icon"/>
        tags
      </div>
      <div class="my-2 break-all truncate">
        <a class="hover:text-skin-active my-2" title={'html'} href={"/tags/" + 'html'}>{'html' + " (" + 10 + ")"}</a>
      </div>
    </div>

  </div>
</header>


<style>
  .header {
        @apply flex gap-4 border-b py-3
  }
  .header__logo-img {
      @apply w-16 h-16 rounded-full overflow-hidden
  }
  .header__title {
      @apply text-4xl font-extrabold md:text-5xl
  }
  .header__desc {
      @apply text-xl flex-1
  }
  .header__ref-list {
      @apply flex gap-3 text-gray-400
  }
</style>
